* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
   
}

form {
    background-color:rgba(11, 63, 97, 0.877);
    color: azure;
    max-width: max-content;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

hr {
    color: rgba(11, 63, 97, 0.877);
}

form p {
    color: rgb(221, 221, 32);
    align-text: center;
}