*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Fengardo Neue 14pt sans-serif;

}

:root {
    --black: #353535;
    --blue: #4f7ec5;
    --pink: #a066a0;
    --green: #548f78;
    --azure: #f0ffff;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 180px;
    background: var(--black);
}

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    
}

img {
    cursor: pointer;
}

nav {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav img {
    padding-left: 50px;
    margin-top: 50px;
}

nav ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

nav ul li a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    padding-left: 50px;
    margin-top: 50px;
}

nav ul button {
    border: 1px solid var(--green);
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px;
    color: var(--green);
    font-weight: bold;
    border-radius: 6px;
}

nav ul button:hover {
    transition: background, color 1s;
    background: var(--green);
    color: var(--azure);

} 