@charset "UTF-8";

@font-face {
    font-family: 'Fengardo Neue';
    src: url('/fontes/FengardoNeue_Regular.otf') format('opentype');
    src: url('/fontes/FengardoNeue_Black.otf') format('opentype');
    font-weight: normal;

}

:root {
    --background: #191B40;
    --buttons: #025E73;
    --buttons-hover: #023859;
    --color-hover: #F2C029;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Fengardo Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    font-family: var(--fonte-padrao);
    font-size: 16px;
}

header {
    background-color: var(--background);
    padding: 20px;
    min-width: 320px;
    max-width: 1420px;
    margin: auto;
}

header > nav {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

header > img {
    width: 100%;
    margin: 20px 0 20px 0;

}

header > p {
    color: azure;
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
}
nav a button {
    background-color: var(--buttons);
    border: none;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: azure;
    cursor: pointer;
    transition: 0.5s;
}

nav a button:hover {
    background-color: var(--buttons-hover);
    color: var(--color-hover);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.473);
}

main {
    background-color: var(--background);
    padding: 20px;
    min-width: 320px;
    max-width: 1420px;
    margin: auto;
}

main > h1 {
    font-family: var(--fonte-destaque);
    padding-bottom: 60px;
    color: azure;
    display: flex;
    justify-content: space-evenly;
}

aside {
    
    padding: 10px;
    columns: 2;
}



div.video {
    margin: 0px -20px 20px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

div.descricao {
    margin: 0px -20px 20px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.descricao > p {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside > a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;  
}

aside > a button {
    background-color: var(--buttons);
    border: none;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: azure;
    cursor: pointer;
    transition: 0.5s;
}

aside > a button:hover {
    background-color: var(--buttons-hover);
    color: var(--color-hover);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.473);
}

footer {
    background-color: var(--background);
    padding: 20px;
    min-width: 320px;
    max-width: 1420px;
    margin: auto;
}